body {
background-color: slategray;
h1 {
font-family: "Lucida Console", "Courier New", monospace;
}
h2 {
font-family: "Lucida Console", "Courier New", monospace;
}
#box {
  width: 300px;
  border: 5px solid darkblue;
  padding: 50px;
  margin: 20px;
}
